img {
  width: 100%;
}
.App {
  position: relative;
  background: url("./assets/img/playlist2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.App .primary-overlay {
  background: rgba(50, 146, 166, 0.5);
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#playlist img {
  margin-top: -50px;
}

#playlist .fa {
  font-size: 25px;
}

#playlist .card:hover {
  background: #3292a6;
  color: #fff;
}
#playlist .card:hover .fa {
  color: #fff;
}
